body {
    background-color: #f1ffe3;
}

h1 {
    font-weight: 600;
    font-size: 7vw;
}

h2 {
    font-weight: 600;
    font-size: 3vw;
}

p {
    font-size: 1.25rem;
}

.first-transition {
    transition: opacity 1s ease;
}

.second-transition {
    transition: opacity 3s ease 1s;
}

.third-transition {
    transition: opacity 3s ease 2.5s;
}

.fourth-transition {
    transition: opacity 2s ease 4s;
}

.fifth-transition {
    transition: opacity 2s ease 5s;
}

.card-link {
    background-color: #f1ffe3;
}

.card-link:hover {
    background-color: #d0e0be;
    cursor: pointer;
}